:root {
    --darkblue: #0C243C;
    --applewhite: #fbfbfb;
    --darkturq: #4eb3b5;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--applewhite);
    color: var(--darkblue);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--darkblue);
    padding: 20px;
    text-align: center;
}

header a img {
    vertical-align: middle;
}

.heading {
    text-align: center;
    margin-top: 20px;
}

form {
    background: var(--applewhite);
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    color: var(--darkblue);
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--darkblue);
    border-radius: 20px;
}

input[type="submit"] {
    background-color: var(--darkblue);
    color: var(--applewhite);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 100px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--darkturq); 
    color: var(--applewhite); 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--darkblue);
    color: var(--applewhite);
    margin-top: 20px;
    border-radius: 10px;
}

footer span {
    font-weight: bold;
}
